@font-face {
  font-family: Maria;
  src: url("./assets/fonts/Maria.otf");
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #abc1ee, #2c5bad, #5284de);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 45s ease infinite;
  -moz-animation: AnimationName 45s ease infinite;
  -o-animation: AnimationName 45s ease infinite;
  animation: AnimationName 45s ease infinite;
  overflow-y: hidden;
}

.box {
  display: block;
  padding: 3px 0px 3px 0px;
}

.box img {
  width: 100%;
  mix-blend-mode: exclusion;
}

.clock {
  animation: blinker 1s step-start infinite;
}

.container {
  position: relative;
  width: 1210px;
  height: 100%;
  margin-left: calc(50% - 605px);
  padding: 0;
  border-left: 0px dotted black;
}

h1 {
  font-family: Maria;
  font-size: 16pt;
  color: #000;
  line-height: 0.7em;
  mix-blend-mode: overlay;
}

#info-column {
  position: absolute;
  left: 0;
  width: 260px;
  height: 100%;
  border-left: 1px dotted black;
  border-right: 1px dotted black;
  padding-left: 10px;
}

.left {
  float: left;
}


#links-column {
  position: absolute;
  width: 280px;
  height: 100%;
  left: 923px;
  border-right: 1px dotted black;
  overflow-x: hidden;
  overflow-y: auto;
}

#overlay {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgb(251, 0, 255) 0%, rgb(216, 110, 198) 50%, rgb(227, 126, 205) 100%);
  background-size: 600% 600%;
  mix-blend-mode: luminosity;
  opacity: 100%;
  -webkit-animation: AnimationName 45s ease infinite;
  -moz-animation: AnimationName 45s ease infinite;
  -o-animation: AnimationName 45s ease infinite;
  animation: AnimationName 45s ease infinite;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-size: 10pt;
  color: #FFF;
  mix-blend-mode: overlay;
}

#release-column {
  position: absolute;
  width: 300px;
  height: 100%;
  left: 271px;
  border-right: 0px dotted black;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.release-img {
  cursor: pointer;
}

.right {
  float: right;
}

.rotate {
  animation: rotation 10s infinite linear;
}

#spinner {
  mix-blend-mode: overlay;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
  text-align: center;
}

#tour-column {
  position: absolute;
  width: 300px;
  height: 100%;
  left: 592px;
  border-right: 1px dotted black;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10pt;
}

.vid-container {
  position: relative;
  width: 1192px;
  height: 100%;
  margin-left: calc(50% - 605px);
  padding: 0;
  border-left: 1px dotted black;
  border-right: 1px dotted black;
}

/* Links */
a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  background-color: #000;
  ;
  color: rgba(216, 168, 173, 1);
  text-decoration: none;
}

a:active {
  color: #000;
  text-decoration: none;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F9FFFF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F9FFFF;
  cursor: pointer;
}

/* Animations */
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10% 10%;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }

  to {
    transform: rotate(0deg);
  }
}